/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	left:0 ;
	top: 0;
	right: 0;
	color: $c-white;
	padding: 29px 0;
	z-index: 10;

	@include breakpoint-down(mobile) {
		padding: 23px 0;
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		position: relative;

		@include breakpoint-down(mobile) {
			padding: 0 18px;
		}
	}

	.header__logo {
		max-width: 423px;
		padding-top: 4px;

		@include breakpoint-down(mobile) {
			max-width: 520px;
    		padding-top: 77px;
    		margin-right: -15px;
		}

		@include breakpoint-down(mobile-medium) {
			margin-right: -70px;
		}

		@include breakpoint-down(mobile-small) {
			    margin-right: -96px;
    			margin-left: -31px;
		}
	}

	.header__menu {
		padding-top: 1px;
		position: relative;
		width: 102px;
	}

	.header__nav {
		position: fixed;
		cursor: pointer;
	}
}
