/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	left:0 ;
	top: 0;
	right: 0;
	color: $c-white;
	padding: 29px 0;
	z-index: 10;

	.header__inner {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.header__logo {
		max-width: 423px;
		padding-top: 4px;
	}

	.header__menu {
		padding-top: 1px;
		position: relative;
		width: 102px;
	}

	.header__nav {
		position: fixed;
	}
}
