/* ------------------------------------------------------------ *\
	hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	z-index: 0;
	height: 800px;
	background-size: cover;
	background-position: center;
	max-width: 1680px;
	margin: 0 auto;

	@include breakpoint-down(mobile) {
		height: 845px;
	}

	@include breakpoint-down(mobile-small) {
		height: 680px;
	}
}
