/* ------------------------------------------------------------ *\
	magazines
\* ------------------------------------------------------------ */

.magazines {
    padding: 32px 0 30px;

    @include breakpoint-down(mobile) {
    	padding: 0;
    }

	.magazines__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		@include breakpoint-down(mobile) {
			margin: 0 -15px;
		}
	}

	.magazines__item {
		max-width: 25%;
		flex: 0 0 25%;
		padding: 0 10px;

		@include breakpoint-down(mobile) {
			max-width: 50%;
			flex: 0 0 50%;
			padding: 39px 30px 40px;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 25px 15px;
		}
	}

	.magazines__item--background {

		@include breakpoint-down(mobile) {
			background-color: #f7f7f7;
		}
	}
}

.magazines--alt {
	background-color: #f7f7f7;

	@include breakpoint-down(mobile) {
		background: none;
	}
}
