/* ------------------------------------------------------------ *\
	magazine
\* ------------------------------------------------------------ */

.magazine {

	@include breakpoint-down(mobile) {
		display: flex;
		justify-content: center;
	}

	.magazine__image {
		margin-bottom: 22px;
		max-width: 255px;
	}

	.magazine__image img {

		@include breakpoint-down(mobile) {
			min-height: 382px;
		}
	}

	h6 {
		margin-bottom: 0;
		color: #333333;

		@include breakpoint-down(mobile) {
			margin-bottom: 2px;
		}
	}

	a {
		text-decoration: none;
	}

	.magazine__content {
		font-size: 16px;
		line-height: 1.13;
		color: #666666;

		@include breakpoint-down(mobile) {
			font-size: 22px;
		}
	}

	.magazine__content p {
		margin-bottom: 14px;

		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}

	.magazine__actions small {
		text-decoration: none;
		color: $c-gold;
		padding: 3px 0;
		transition: background .4s;
		font-size: 16px;
	}

	a:hover .magazine__actions small {
		background-color: #b08e71;
	}

	a:hover .magazine__actions  span {
		color: $c-white;
	}

	.magazine__actions svg path {
		transition: fill .4s;
	}

	a:hover .magazine__actions svg path {
		fill: $c-white;
	}

	a:hover .magazine__actions small {
		padding: 0 5px;
		margin: 0 -5px;
	}

	.magazine__actions svg {
		width: 10px;
		height: 10px;
	}

	.magazine__actions span {
		margin-left: 2px;

		@include breakpoint-down(mobile) {
			margin-left: 8px;
		}
	}

	.magazine__content--alt {
		opacity: 0;
		transition: opacity .4s;

		@include breakpoint-down(mobile) {
			opacity: 1;
		}
	}
}

.magazine--alt {

	h6 {

		@include breakpoint-down(mobile) {
			font-size: 19px;
		}
	}

	.magazine__image {

		@include breakpoint-down(mobile) {
			margin-bottom: 28px;
		}
	}

	.magazine__content {

		@include breakpoint-down(mobile) {
			padding: 0 4px;
			font-size: 19px;
		}
	}

	.magazine__content p {
		margin-bottom: 25px;
	}
}
