/* ------------------------------------------------------------ *\
	magazine
\* ------------------------------------------------------------ */

.magazine {

	.magazine__image {
		margin-bottom: 22px;
	}

	.magazine__image img {

		@include breakpoint-down(mobile) {
			min-height: 382px;
		}
	}

	h6 {
		margin-bottom: 0;
		color: #333333;

		@include breakpoint-down(mobile) {
			margin-bottom: 2px;
		}
	}

	.magazine__image a {
		display: block;
		text-decoration: none;
		transition: opacity .4s;
	}

	.magazine__image a:hover {
		opacity: .7;
	}

	.magazine__content {
		font-size: 16px;
		line-height: 1.13;
		color: #666666;

		@include breakpoint-down(mobile) {
			font-size: 22px;
		}
	}

	.magazine__content p {
		margin-bottom: 14px;

		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}

	.magazine__actions a {
		text-decoration: none;
		color: $c-gold;
		padding: 3px 0;
		transition: background .4s;
	}

	.magazine__actions a:hover {
		background-color: $c-gold;
	}

	.magazine__actions a:hover span {
		color: $c-white;
	}

	.magazine__actions a svg path {
		transition: fill .4s;
	}

	.magazine__actions a:hover svg path {
		fill: $c-white;
	}

	.magazine__actions svg {
		width: 10px;
		height: 10px;
	}

	.magazine__actions span {
		margin-left: 2px;

		@include breakpoint-down(mobile) {
			margin-left: 8px;
		}
	}
}

.magazine--alt {

	h6 {

		@include breakpoint-down(mobile) {
			font-size: 19px;
		}
	}

	.magazine__image {

		@include breakpoint-down(mobile) {
			margin-bottom: 28px;
		}
	}

	.magazine__content {

		@include breakpoint-down(mobile) {
			padding: 0 4px;
			font-size: 19px;
		}
	}

	.magazine__content p {
		margin-bottom: 25px;
	}
}
