/* ------------------------------------------------------------ *\
	nav-lang
\* ------------------------------------------------------------ */

.nav-lang {

	ul {
		display: flex;
		justify-content: flex-end;
	}

	li {
		list-style: none;
		position: relative;
	}

	.is-current a:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 4px;
		height: 2px;
		background: $c-white;
		transition: color .4s;

		@include breakpoint-down(mobile) {
			height: 4px;
		}
	}

	li + li {
		margin-left: 18px;

		@include breakpoint-down(mobile) {
			margin-left: 21px;
		}
	}

	a {
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 18px;
		font-weight: 700;
		transition: color .4s;

		@include breakpoint-down(mobile) {
			font-size: 25px;
		}
	}

	a:hover {
		color: #a91005;
	}

	a:hover:after {
		background-color: #a91005;
	}
}
