/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	padding: 48px 0 39px;

	@include breakpoint-down(mobile) {
		padding: 51px 15px 40px;
	}

	h2 {
		font-weight: 400;
		color: #454545;
	}

	.section__head {
		margin-bottom: 4px;
	}
}
