/* ------------------------------------------------------------ *\
	section-magazines
\* ------------------------------------------------------------ */

.section-magazines {
	background-color: #f7f7f7;
	padding: 50px 0 47px;

	@include breakpoint-down(mobile) {
		position: relative;
		padding: 53px 0 99px;
	}

	.section__head h2 {
		font-weight: 400;
		margin-bottom: 0;
		color: #454545;

		@include breakpoint-down(mobile) {
			letter-spacing: -0.006em;
		}
	}

	.section__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 38px;

		@include breakpoint-down(small-desktop) {
			padding: 0 10px;
		}

		@include breakpoint-down(mobile) {
			padding: 0;
			display: block;
		}
	}

	.section__actions svg {
		height: 10px;
		width: 10px;
	}

	.section__head .section__actions {

		@include breakpoint-down(mobile) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 43px;
			display: block;
		}

		@include breakpoint-down(mobile-medium) {
			width: 250px;

		}
	}

	.section__actions a {
		text-decoration: none;
		background-color: $c-white;
		border: 1px solid #dadada;
		padding: 4px 50px;
		transition: background .4s;
		color: $c-gold;

		@include breakpoint-down(mobile) {
			border: 2px solid #797979;
			padding: 6px 25px;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 0;
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	.section__actions a:hover {
		background-color: #b08e71;
	}

	.section__actions a:hover span {
		color: $c-white;
	}

	.section__actions span {
		font-size: 16px;
		color: $c-gold;
		transition: color .4s;

		@include breakpoint-down(mobile) {
			font-size: 22px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 20px;
		}
	}

	.section__actions a svg path  {
		transition: fill .4s;
	}

	.section__actions a:hover svg path {
		fill: $c-white;
	}
}
