/* ------------------------------------------------------------ *\
	section-info
\* ------------------------------------------------------------ */

.section-info {
	padding: 48px 0 39px;
	color: #666666;

	@include breakpoint-down(mobile) {
		padding: 63px 0 39px;
	}

	.section__inner {
		position: relative;

		@include breakpoint-down(mobile) {
			padding: 0 17px;
		}
	}

	h2 {
		font-weight: 400;
		margin-bottom: 19px;
		color: #454545;

		@include breakpoint-down(mobile) {
			line-height: 1.07;
			margin-bottom: 27px;
		}
	}

	p {

		@include breakpoint-down(mobile) {
			font-size: 18px;
			line-height: 1.65;
			margin-bottom: 45px;
			letter-spacing: 0.006em;
		}
	}

	.section__intro {
		font-weight: 700;
	}

	.section__grid {
		margin: 0 -17px;

		@include breakpoint-down(mobile) {
			margin: 0;
		}
	}

	.section__col {
		padding: 0 17px;

		@include breakpoint-down(mobile) {
			padding: 0;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.section__btn {
		display: none;

		@include breakpoint-down(mobile) {
			display: block;
			max-width: 165px;
			margin-top: -25px;
			font-size: 20px;
			color: $c-gold;
		}

		&.is-hidden {
			display: none;
		}
	}

	.section__btn:hover {

		color: $c-white;
		background-color: $c-gold;
	}

	.section__btn svg {
		height: 14px;
		width: 11px;
		margin: 0 8px;
	}

	.section__additional-info {

		@include breakpoint-down(mobile) {
			opacity: 0;
			max-height: 0;
			pointer-events: none;
			transition: max-height.6s, opacity .4s;
		}
	}

	.section__additional-info.is-active {
		opacity: 1;
		max-height: 100%;
		pointer-events: all;
	}

	.section__actions a {
		text-decoration: none;
		display: inline-block;
		line-height: 1.2;
		transition: background .4s;
		color: $c-gold;
	}

	.section__actions a:hover {
		background: #b08e71;
		padding: 0 5px;
		margin: 0 -5px;
	}

	.section__actions a:hover span {
		color: $c-white;
	}

	.section__actions a svg path {
		transition: fill .4s;
	}

	.section__actions a:hover svg path {
		fill: $c-white;
	}

	.section__actions a span {
		color: $c-gold;
		margin: 0 3px;
		transition: color .4s;

		@include breakpoint-down(mobile) {
			font-size: 27px;
		}
	}

	.section__actions a svg {
		height: 10px;
		width: 10px;

		@include breakpoint-down(mobile) {
			height: 13px;
			width: 13px;
		}
	}

	.section__images img {
		max-width: 255px;
	}

	.section__images img:first-child {
		position: absolute;
		top: -290px;
    	right: 74px;
    	z-index: 1;

    	@include breakpoint-down(tablet) {
    		top: -350px;
    	}
	}

	.section__images img:nth-child(2) {
		position: absolute;
		top: -349px;
    	right: 38px;
    	z-index: 2;

    	@include breakpoint-down(tablet) {
    		top: -380px;
    	}
	}

	.section__images img:nth-child(3) {
		position: absolute;
		top: -311px;
    	right: 2px;
    	z-index: 3;

    	@include breakpoint-down(tablet) {
    		top: -355px;
    	}
	}

	.section__images {

		@include breakpoint-down(mobile) {
			display: none;
		}
	}
}

.section-info--alt {
	padding: 48px 0 35px;

	@include breakpoint-down(mobile) {
		padding: 62px 0 64px;
	}

	h2 {
		letter-spacing: -0.004em;
	}
}

.section-info--dif {
	padding: 48px 0 69px;

	@include breakpoint-down(mobile) {
		padding: 64px 3px 60px;
	}

	p {

		@include breakpoint-down(mobile) {
			margin-bottom: 43px;
		}
	}

	.section__col + .section__col {

		@include breakpoint-down(mobile) {
			margin-top: -43px;
		}
	}

	.section__actions {
		margin-top: -21px;
	}
}
