 /* ------------------------------------------------------------ *\
	slider-hero
\* ------------------------------------------------------------ */

.slider-hero {
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	@include breakpoint-down(mobile) {
		height: 845px;
	}

	@include breakpoint-down(mobile-small) {
		height: 680px;
	}

	&:hover .slick-arrow {
		opacity: 1;
	}

	.slider__image {
		background-size: cover;
		background-position: center;
		height: 800px;

		@include breakpoint-down(mobile) {
			height: 845px;
		}

		@include breakpoint-down(mobile-small) {
			height: 680px;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 44px;
		width: 40px;
		z-index: 2;
		opacity: 0;
		transition: opacity .4s;

		@include breakpoint-down(small-desktop) {
			opacity: 1;
		}
	}

	.slick-next {
		right: 111px;

		@include breakpoint-down(mobile) {
			right: 30px;
		}
	}

	.slick-prev {
		left: 123px;

		@include breakpoint-down(mobile) {
			left: 30px;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 2%;
		left: 15%;
		display: flex;

		@include breakpoint-down(mobile) {
			left: 36px;
		}
	}

	.slick-dots button {
		font-size: 0;
		border: 0;
		border-radius: 50%;
		background-color: #666666;
		height: 7px;
		width: 7px;
		opacity: .8;
		transition: transform .2s ease, background .2s ease;
	}

	.slick-dots li.is-active button {
		transform: scale(1.4);
		opacity: .9;
	}

	.slick-dots li {
		list-style: none;
	}

	.slick-dots li + li {
		margin-left: 5px;
	}

	.slick-active button {
		transform: scale(2.2);
		/* height: 15px;
		width: 15px; */
		background-color: #fff;
		opacity: 1;
		margin: 0 5px;
		transition: transform .1s ease, background .2s ease;
	}
}
