/* ------------------------------------------------------------ *\
	telephone
\* ------------------------------------------------------------ */

.telephone {

	a {
		display: block;
		font-size: 16px;
		line-height: 1.25;
		transition: color .4s;
	}

	a:hover {
		color: #e6dbd1;
	}
}
