<footer class="footer">
	<div class="shell">
		<div class="grid footer__grid">
			<div class="grid__col grid__col--1of4 footer__col">
				<div class="logo footer__logo">
					<a href="#">
						<img src="assets/images/logo.png" alt="">
					</a>
				</div><!-- /.logo footer__logo -->
			</div><!-- /.grid__col grid__col-/-1of4 footer__col -->

			<div class="grid__col grid__col--1of4 footer__col">
				<div class="contact footer__contact">
					<h4>So erreichen Sie uns</h4>

					<div class="address footer__address">
						<p>
							PM Presse- und Mediaverlag GmbH
							<br>
							Hattenbühl 11
							<br>
							DE-70469 STUTTGART
						</p>
					</div><!-- /.address -->

					<div class="telephone footer__telephone">
						<a href="tel:4907118266633">Telefon: +49 - (0)711 - 82 666 33</a>

						<a href="tel:4907118266688">Telefax: +49 - (0)711 - 82 666 88</a>
					</div><!-- /.telephone footer__telephone -->

					<div class="email footer__email">
						<a href="mailto:lacuisine-online.de">
							<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

							<span>E-Mail: info (at) lacuisine-online.de</span>
						</a>

						<a href="#">
							<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

							<span>Web: www.lacuisine-online.de</span>
						</a>
					</div><!-- /.email footer__email -->
				</div><!-- /.contact footer__contact -->
			</div><!-- /.grid__col grid__col-/-1of4 footer__col -->

			<div class="grid__col grid__col--1of4 footer__col">
				<div class="footer-nav footer__nav">
					<h4>Die Magazine</h4>

					<ul>
						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Editorial</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Die Magazine</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Musterseiten</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Reisespecials</span>
							</a>
						</li>
					</ul>
				</div><!-- /.footer-nav footer__nav -->

				<div class="footer-nav footer__nav">
					<h4>Das Verlagshaus</h4>

					<ul>
						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Das Unternehmen</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Stellenangebote</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Links</span>
							</a>
						</li>
					</ul>
				</div><!-- /.footer-nav footer__nav -->
			</div><!-- /.grid__col grid__col-/-1of4 footer__col -->

			<div class="grid__col grid__col--1of4 footer__col">
				<div class="footer-nav footer__nav">
					<h4>Kontakt</h4>

					<ul>
						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Anschrift & Adresse</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Impressum</span>
							</a>
						</li>

						<li>
							<a href="#">
								<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.87 8.85"><defs><style>.cls-1{fill:currentcolor;}</style></defs><path class="cls-1" d="M271.93,418l6.91.06.23.23.07,6.93-1,.54-.21-.21-.11-5.34-6.5,6.65h-.21l-.83-1,6.68-6.58-5.36-.09-.23-.23Z" transform="translate(-270.27 -418.04)"/></svg>

								<span>Datenschutz</span>
							</a>
						</li>
					</ul>

					<p>&#169; 1996-2021</p>
				</div><!-- /.footer-nav footer__nav -->
			</div><!-- /.grid__col grid__col-/-1of4 footer__col -->
		</div><!-- /.grid footer__grid -->

		<div class="footer__actions">
			<a href="#" class="js-btn-to-top">
				<span>nach oben</span>

				<svg aria-hidden="true" data-prefix="fas" data-icon="arrow-down" class="svg-inline--fa fa-arrow-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<path fill="currentColor" d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path>
				</svg>
			</a>
		</div><!-- /.footer__actions -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->
