/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Light.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../fonts/AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

