//Variables
$font-size-base             : 20px;
$font-weight-base           : 400;
$line-height-base           : 1.6;

$ff-sans-serif              : "Alegreya Sans", Helvetica, Arial, sans-serif;
$ff-serif                   : Georgia, "Times New Roman", Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1120px;
$shell-gutter               : 15px;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #055590;
$c-gold                     : #7f4b1d;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium-alt: 490px,
	mobile-medium: 575px,
	mobile-alt: 690px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);
